.App {
  /* text-align: center; */
  background-color: #cca1a1;
  color: black;
  font-family: Rancho;
  font-size: 16px;
  height: 100vh;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 0px;
}
.text-secondary{
  font-size: 42px;
  font-stretch: expanded;
}

.App-header {
  background-color: #333131;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.navbar {
 
  margin-top: auto;
  
}
#top-filler {
  margin-bottom: auto;
}

#nav-container {
  align-items: flex-end;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.jumbotron{
	align-items: center;

	background-color: white;
}

#custom-seekbar
{  
  cursor: pointer;
  height: 10px;
  margin-bottom: 10px;
  outline: thin solid orange;
  overflow: hidden;
  position: relative;
  width: 400px;
}
#custom-seekbar span
{
  background-color: green;
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 0px;
}

#indiv
{  
  cursor: pointer;
  align-items: center;
  height: 10px;
  overflow: hidden;
  position: relative;
  width: 400px;
}
#indiv span
{
  background-color: black;
  opacity: 0.5;
  /* position: relative; */
  padding-top: 3;
  left: 0;
  /* padding-bottom: 3; */
  height: 5px;
  width: 0px;
}


#video {
  position: relative;
  display: inline-block;
  
  /* ie7 inline-block support */
  *display: inline;
  *zoom: 1;

  visibility: hidden;
  z-index: 0;
}

 
canvas {
  align-items:flex-start;
  margin-top: 10px;
  margin-left: 30px;
  width: 384px;
  height: 384px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.toolselector{
  margin-top: 10px;
  margin-left: 10px;
  max-width: max-content+40px;
  padding: 5px 10px 5px 10px;
  background-color: #c4c4c4;
}
.toolselector label{
  margin-left: 10px;
}

.toolselector input{
  vertical-align: middle;
}

.radio{
  background-color: blue;
}
.urdo{
  margin: 10px;
  max-width:max-content+30px;
  height: 30px;
}
.output{
  height: 384px;
  width: 384px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.process{
  height: 50px;
  width: 170px;
  font-size: 35px;
  background-color:#553E3E;
  border: 1px solid #ccc;
  border-radius: 4px;
  color:white;
  align-self: center;
  margin: 50px;
}
.Plan{
  display: flex;
}